<footer>
	<center>
		<p><a href="/">Index</a> | <a href="/contact">Contact</a> | <a href="/about">About</a> 
			<% if @user %>
			 | <a href="#">Log out</a>
			<% end %>
		</p>
		<p> © Gabriel Bowater 2015</p>
	</center>
</footer>