<div id="classroom-containment">
	<div id="classroom">
		<img src="/images/thumbtack.png" class="thumb-tack" id="thumb-tack-1">
		<img src="/images/thumbtack.png" class="thumb-tack" id="thumb-tack-2">
		<img src="/images/thumbtack.png" class="thumb-tack" id="thumb-tack-3">
		<img src="/images/thumbtack.png" class="thumb-tack" id="thumb-tack-4">
	</div>
</div>