	<img src="http://www.clker.com/cliparts/B/V/P/X/Z/e/thumbtack-pushpin-2-md.png" class="thumb-tack" id="thumb-tack-1">
	<img src="http://www.clker.com/cliparts/B/V/P/X/Z/e/thumbtack-pushpin-2-md.png" class="thumb-tack" id="thumb-tack-2">
	<img src="http://www.clker.com/cliparts/B/V/P/X/Z/e/thumbtack-pushpin-2-md.png" class="thumb-tack" id="thumb-tack-3">
	<img src="http://www.clker.com/cliparts/B/V/P/X/Z/e/thumbtack-pushpin-2-md.png" class="thumb-tack" id="thumb-tack-4">
	<div id="classroom"></div>