<center>
	<div id="menu">

	  <p><a id="table_adder" class="menu_item">Add Table</a> | <a id="student_adder" class="menu_item">Add Student</a></p>
	  <p><a id="table_remover" class="menu_item">Remove last table</a> | <a id="student_remover" class="menu_item">Remove last student</a></p>
	  <p>Desk Size:</p>
	  <p> <a id="set_small" class="menu_item">Small</a>  <a id="set_medium" class="menu_item">Medium</a>  <a id="set_large" class="menu_item">Large</a> 
	  </p>
	  <p><a id="rotate_last_desk" class="menu_item">Rotate Last Desk</a> | <a id="output_positions" class="menu_item">Save Classroom</a> | <a id="hide_menu" class="menu_item">Hide Menu</a></p>
	  <label>Classroom Name</label><input type="textfield" name="class_name">
	</div>
	<p class="mini_menu_item" style="display:none"><a id="show_menu" class="menu_item mini_menu_item" style="display:none">Show Menu</a>  |  <a id="table_adder_mini" class="menu_item menu_icon mini_menu_item" style="display:none"><img src="/images/table_icon.png"></a>  |  <a id="student_adder_mini" class="menu_item menu_icon mini_menu_item" style="display:none"><img src="/images/person_icon.svg"></a></p><br>
  <div class="notice" id="save-notice" style="display:none"><p id="save-notice-text"></p></div><br>
  
  <%= render "classroom" %>

</center>
<table id="tracker_console" style="float:left;position:relative;z-index:300;display:none"></table>
<input type="hidden" name="user_id" value="<%=  @user.id %>">
<input type="hidden" id="page_id" value="new-classroom">