body {
	background-image: url('/images/paper-tile-texture.jpg');
	background-size: 450px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#img_del {
  float: right;
}

#shower {
  display:none;
}

#classroom-containment{
  width:100%;
}

.tbl {
  width:200px;
  height: 100px;
  box-shadow: 6px 6px 4px #081706;
}

.img_tbl {
    width: 100%;
    height: 100%;
}

.student {
	width:60px;
  height: 80px;
}

.img_student {
	width: 100%;
  height: 100%;
}

.set_std_img {
  border-radius: 50%;
  border: double black 4px;
  box-shadow: 2px 2px 1px
}

#set_medium {
  color: red;
}

#classroom {
  height: 650px;
  width: 1000px;
  margin-top: 0px;
  background-image: url('http://1.bp.blogspot.com/-gFxl7iFbhN0/U0beLdwg9oI/AAAAAAAAPDY/BBNB0uLKWW4/s1600/seamless-textures-PARQUET-WOOD-FLOORING-%2329b.jpg');
  background-size: 250px;
  box-shadow: 6px 6px 4px #081706;
  position: relative
}

#menu {
	z-index: 1000;
  background: rgba(255,255,240,.9);
  padding: 20px;
  max-width: 30%;
  border-radius: 20px;
  border: double black 7px;
}

.menu_item {
	cursor: pointer;
	background-color: rgba(200,200,200,0.5);	
	padding: 3px;
	border-radius: 2px;
}

.menu_icon img {
  width: 30px;
}

#tracker_console {
  background: white
}

.thumb-tack {
  position:absolute;
  text-align: left;
  width:80px;
}

#thumb-tack-1 {
  left:-0px;
  top: 0;
  z-index:900;
}

#thumb-tack-2 {
  left:900px;
  top: 0;
  z-index:901;
}

#thumb-tack-3 {
  left:0px;
  top: 600px;
  z-index:902;

}

#thumb-tack-4 {
  left:900px;
  top: 600px;
  z-index:903;

}

.glow{
  box-shadow: 0px 0px 30px white;
}

.selected{
  box-shadow: 0px 0px 30px white;
}

.popup{
  width:140px;
  height:50px;
  background:rgba(1,1,1,.6);
  color:white;
  margin-top:-120px;
  margin-left: 30px;
  border-radius: 12px;
}

.student-name {
  display:none;
  color: white;
  background:rgba(1,1,1,.6);
  border-radius: 8px;
  padding: 3px;
  font-size: 0.7em;
}