body {
	background-image: url('http://www.sharecg.com/images/medium/27733.jpg');
	background-size: 380px;
}

#img_del {
  float: right;
}

#shower {
  display:none;
}

.tbl {
  width:300px;
  height: 150px;
  box-shadow: 6px 6px 4px #081706;
}

.img_tbl {
    width: 100%;
    height: 100%;
}

.student {
	width:80px;
  height: 100px;
}

.img_student {
	width: 100%;
  height: 100%;
}

#set_medium {
  color: red;
}

#classroom {
  height: 650px;
  width: 1000px;
  margin-top: 0px;
  background-image: url('http://1.bp.blogspot.com/-gFxl7iFbhN0/U0beLdwg9oI/AAAAAAAAPDY/BBNB0uLKWW4/s1600/seamless-textures-PARQUET-WOOD-FLOORING-%2329b.jpg');
  background-size: 250px;
  box-shadow: 6px 6px 4px #081706;
}

#menu {
	z-index: 1000;
  background: rgba(255,255,240,.9);
  padding: 20px;
  max-width: 30%;
  border-radius: 20px;
  border: double black 7px;
}

.menu_item {
	cursor: pointer;
	background-color: rgba(200,200,200,0.5);	
	padding: 3px;
	border-radius: 2px;
}

.menu_icon img {
  width: 30px;
}

#tracker_console {
  background: white
}

.thumb-tack {
  position:relative;
  text-align: left;
  width:80px;
}

#thumb-tack-1 {
  left:-150px;
  top: 0;
  z-index:900;
}

#thumb-tack-2 {
  left:680px;
  top: 0;
  z-index:901;
}

#thumb-tack-3 {
  left:-320px;
  top: 600px;
  z-index:902;
  /*margin-bottom: -1270px;*/
}

#thumb-tack-4 {
  left:510px;
  top: 600px;
  z-index:903;
  /*margin-bottom: -1270px;*/
}

.glow{
  box-shadow: 0px 0px 30px white;
}

.selected{
  box-shadow: 0px 0px 30px white;
}

.popup{
  width:140px;
  height:50px;
  background:rgba(1,1,1,.6);
  color:white;
  margin-top:-120px;
  margin-left: 30px;
  border-radius: 12px;
}