#overlay {
  width: 100%;
  height: 470px;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  z-index: 905;
  margin-top: 80px;
  max-width: 45%;
  margin-left: 27.5%;
  border-radius: 4px;
  background-color: rgba(255,255,240,.9);
  border: double black 7px;
  padding: 4px;
  box-shadow: 6px 6px 4px #081706;
  display: none
}

#overlay p {
  color: #black;
}

#close-button {
  position: absolute;
  bottom: 10px;
  left: 45%;
  width: 10%;
}

.student_profile_link{
  width: 80px;
  float: left;
  font-size: 0.8em;
  margin-top: 18px;
  margin-left: 42px
}

#student_details {
  width: 30%;
  float: left;
  border: solid black 1px;
}

#loader-gif{
  margin-top: 43%
}

#student_comments {
  width: 68%;
  float: right;
  border: solid black 1px;
  overflow:scroll;
  height: 160px;
  text-align: left
}

#comment_content {
  
}

.mini-disposition{
  width:15px;
}

#student_comment_form{
  width: 98%;
  display: block;
  border: solid black 1px;
  position: absolute;
  bottom:45px;
  padding: 3px
}

#new_comment_text_area{
  width:80%;
  resize: none;
}

#student-dropdown,
#tags-dropdown{
  display:inline-block;
  list-style-type: none;
  float: left;
}

.remove-tag{
  height:20px;
  width: 20px
}

.applied-tag{
  display:inline;
  background: rgb(230,230,200);
  border-radius: 4px;
  padding: 2px;
  margin: 3px;
}

.dropdown-menu{
  overflow: scroll
}

/*
  COMMENT DISPOSITION
*/
.input_hidden {
    position: absolute;
    left: -9999px;
}
label img {
    width:40px;
}
.selected_disposition {
    background-color: #ccc;
}

#comment_dispostion label {
    display: inline-block;
    cursor: pointer;
}


#comment_dispostion label:hover {
    background-color: #efefef;
}

#comment_dispostion label img {
  padding: 3px;
  margin-top: -5px;
  margin-bottom: -5px

    
}