#student-profile-div,
#profile-div {
	background: rgba(255,255,240,1);
	max-width: 940px;
	margin: 7%;
	padding: 10px;
	color: rgb(30,30,30);
	overflow: auto;
}

.class-desc {
	text-align: left;
	padding-left: 20%;
}

.class-title {
	font-weight: bold;
	font-size: 1.2em
}

#classrooms-list{
	width:50%;
	float:left;
	overflow: auto;
	max-height: 380px;

}
#teacher-tags{
	width: 50%;
	float: left;
	overflow: auto;
	height: 380px;
}

#tag-comments{
	width: 50%;
	float: left;
	overflow: auto;
	max-height: 380px;

}

#break {
	height: 3px;
	width: 80%;
	background: black;
}

#teacher-students{
	width:100%;
	float: left;
}

.profile-student-icon {
	width:15%;
	display: inline-block;
	text-align: center
}

.profile-student-icon-img{
	width:100%;
}

.single-tag {
	display: none;
}

#student_profile_comments {
	width: 70%;
	float: left;
	display: inline-block;
	text-align: left;
	padding-left: 5%;
	min-height: 300px;
	max-height: 450px;
	overflow: auto;
}

#student_profile_comments_filters {
	width: 30%;
	float: left;
	border: black solid 1px;
	display: inline-block;
	min-height: 150px
}
.student-profile-header,
#student_profile_comments_title {
	margin-left: -3%
}

#student-classrooms {
	float: left;
	width: 31%;
	float: left;
	display: inline-block;
	text-align: left;
	padding-left: 5%;
}

.comment-disp-filter img {
	width: 57px
}

.greyed-out {
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1); 
}

#student_picture{
	width: 120px
}

#student_picture_div{
	margin-top: -50px
}

.stud-back-butt{
	float: right;
	margin-right: 15px
}